<div class="topnav">
    <div>
        <a href="{% url 'search_court' %}">Znajdź mecz</a>
        <a href="{% url 'search_court' %}">Znajdź mecz</a>
        <a href="{% url 'search_court' %}">Znajdź mecz</a>
    </div>
    <div>
        {% if user.is_authenticated %}
            Witaj{{ user }}! Znajdź mecz dla siebie!
            <a href="{% url 'logout' %}">wyloguj</a>
        {% else %}
            <a href="{% url 'register' %}">zarejestruj</a>
            <a href="{% url 'login' %}">zaloguj</a>
        {% endif %}
    </div>
</div>
