<div class="topnav">
    <div>
        <a href="{% url 'search_court' %}">Search court</a>
        <a href="{% url 'add_court' %}">Add court</a>
        <a href="{% url 'court_list' %}">Courts list</a>
    </div>
    <div>
        {% if user.is_authenticated %}
            Hello {{ user }}! Find yourself a match!
            <a href="{% url 'user_profile' %}">Show my profile</a>
            <a href="{% url 'logout' %}">logout</a>
        {% else %}
            <a href="{% url 'register' %}">register</a>
            <a href="{% url 'login' %}">log in</a>
        {% endif %}
    </div>
</div>
