{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="page-header">
            <h2>Add court</h2>
        </div>
        <div class="form-group">
            <form method="post" action="{% url 'add_court' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-plus"
                                                                    style="margin-right: 5px;"></span> Add
                </button>
            </form>
        </div>
        <div>
            <a href="{% url 'court_list' %}">
                <button class="btn btn-primary">SHOW COURT LIST</button>
            </a>
        </div>
    </div>
{% endblock %}