{% extends 'base.html' %}
{% block content %}
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Intended for</th>
            <th>Free parking</th>
        </tr>
        </thead>
        <tbody>
        {% for court in courts %}
            <tr>
                <td>{{ court.name }}</td>
                <td>{{ court.location }}</td>
                <td>
                    {% for sport in court.intended_for.all %}
                        {{ sport.name }}{% if not forloop.last %},{% endif %}
                        {#forloop.last - zmienna kontekstowa pętli for, która zwraca true na ostatnim przetwarzanym elemencie#}
                    {% endfor %}
                </td>
                <td>
                    {% if court.free_parking_around %}
                        yes
                    {% else %}
                        no
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'court_detail' court.id %}">
                        <button>MORE INFO</button>
                    </a>
                </td>
                <td>
                    {% if user.is_superuser %}
                            <a href="{% url 'delete_court' court.id %}"><button type="submit">Delete Court</button></a>
                            <a href="{% url 'update_court' court.id %}"><button type="submit">Update Court</button></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
