{% extends 'base.html' %}
{% block content %}
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Intended for</th>
            <th>Free parking</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ court.name }}</td>
            <td>{{ court.location }}</td>
            <td>
                {% for sport in court.intended_for.all %}
                    {{ sport.name }}{% if not forloop.last %},{% endif %}
                    {#forloop.last - zmienna kontekstowa pętli for, która zwraca true na ostatnim przetwarzanym elemencie#}
                {% endfor %}
            </td>
            <td>
                {% if court.free_parking_around %}
                    yes
                {% else %}
                    no
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>

    <br>
    COMMENTS:
    <ul>
        {% for comment in court.comment_set.all %}
            <li>{{ comment.text }} -- <small>{{ comment.user }}</small>
                {% if comment.user == user %}
                    <a href="{% url 'update_comment' comment.id %}"><small>edit</small></a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    <br>
    ADD COMMENT-
    {% if user.is_authenticated %}
        <a href="{% url 'court_comment' court.id %}">
            <button>ADD COMMENT</button>
        </a>
    {% endif %}

    <br>
    <br>
    MATCHES:
    <ol>
        {% for match in matches %}
            <li> Day: {{ match.get_day_display }}, Time: {{ match.get_time_display }}, {{ match.sport }}</li>
        {% endfor %}
    </ol>

    <br>
    ADD MATCH -
    <a href="{% url 'add_match' court.pk %}">
        <button>ADD MATCH</button>
    </a>
    
    <br>
    <br>
    <a href="{% url 'court_list' %}">
        <button>BACK TO COURT LIST</button>
    </a>
{% endblock %}