{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="page-header">
            <h2>Are you sure you want to delete {{ court }}?</h2>
        </div>
        <div>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-success">Yes</button>
            </form>
            <br>
            <a href="{% url 'court_list' %}">
                <button type="submit" class="btn btn-danger">No, I miss clicked</button>
            </a>
        </div>
    </div>
{% endblock %}