{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="page-header">
        <h2>Listed courts below are matching your requirements:</h2>
    </div>
    <div>
        <ul class="list-group">
            {% for court in searched_courts %}
                <li class="list-group-item">{{ court.name }} - {{ court.location }}
                    <a href="{% url 'court_detail' court.pk %}" style="padding-left: 20px;">
                        <button class="btn btn-default">More info</button>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}