{% extends 'base.html' %}
{% block content %}
    This is profile view for {{ user }}
    <br>
    <br>
    These are the matches you added:
    <ul>
        {% for match in added_matches %}
            <li>Day: {{ match.get_day_display }}, Time: {{ match.get_time_display }}, {{ match.sport }} --
                {% for court in match.court.all %}
                    {{ court.name }}
                {% endfor %}
            </li>
        {% endfor %}
    </ul>

    <br>
    MATCHES CALENDAR:
    <br>
    <br>
    <table>
        <thead>
        <tr>
            <th></th>
            <th>When</th>
            <th>Where</th>
            <th>What</th>
        </tr>
        </thead>
        <tbody>
        {% for planned_match, court in planned_matches %}
            <tr>
                <td>{{ forloop.counter }}.</td>
                <td>{{ planned_match.get_day_display }} at {{ planned_match.get_time_display }}</td>
                <td>{{ court.name }} in {{ court.location }}</td>
                <td>{{ planned_match.sport }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}